/* ============================================
   FOOTER
   ============================================ */
.footer {
  border-top: 1px solid var(--clr-dark-3);
  padding: var(--space-3xl) var(--space-3xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xl);
  background: var(--clr-dark-1);
  position: sticky;
  /* 추가 */
  bottom: 0;
  /* 추가 */
}


.footerLogo {
  font-family: var(--font-display);
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: var(--clr-white);
}

.footerLogo span {
  color: var(--clr-accent);
}

.footerText {
  font-family: var(--font-ui);
  font-size: 0.7rem;
  color: rgba(249, 249, 249, 0.878);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: var(--space-2xl) var(--space-lg);
  }
}

.footerMembers {
  font-family: var(--font-ui);
  font-size: 0.7rem;
  color: rgba(249, 249, 249, 0.878);
  letter-spacing: 0.15em;
  text-align: right;
}